@import "tailwindcss";
@import "ol/ol.css";


html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
}

/* OpenLayers overrides */
.ol-control button {
  background-color: rgba(0, 0, 0, 0.6) !important;
  color: white !important;
  font-size: 1.1rem !important;
}

.ol-control button:hover {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.ol-attribution {
  font-size: 10px;
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
